.content-blog-info-container{
    padding: 2px;
   border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto !important;
    justify-content: start;
    position: relative;
    align-items: center;
    background-color: #FFFFFF !important;
   

   
}
.content-blog-img{
    
    img{
        margin-top: auto;
        width: 320px !important;
        height: 200px;
        object-fit: cover;
    }
}
.like-comment-content{
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid var(--lightergrey);
    padding-bottom: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.btn-hover-social-like{
    cursor: pointer;
    &:hover{
        color: var(--lighterblue);
    }
}
.blog-info{
    padding: 10px;
}
.blog-title{
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        color: var(--lightergrey);
    }
}
.blog-content-description{
    font-size: 1rem;
    margin-left: 10px;
    color: rgb(172, 170, 170);
}
.editing-content{
    position: absolute;
    right: 5px;
    top: 7px;
    cursor: pointer;
}
.editing-content-container{
    position: relative;
    display: flex;
}
.content-view-edit{
    width: 150px;
    border-radius: 5px;
    background-color: #fff;
    .content-btn{
        font-size: .8rem;
        letter-spacing: 1px;
        &:hover{
            background-color: var(--lightergrey);
        }
    }
}
.sb-avatar__text{
    div{
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            font-size: 1rem !important;
        }
    }
}
.blog-owner-info{
  
    font-size: .8rem;
    text-align: center;
    color: rgb(172, 170, 170) !important ;
    img{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        object-fit: contain;
        padding: 3px;
        border: .8px solid rgb(66, 157, 255);
        background-color: #fff;
    }
    .creator, .type-content{
        color: #000 !important;
        font-weight: bold;
        &:hover{
            color: rgb(156, 156, 156) !important;
        }
    }
}


@media screen and (max-width: 600px) {
    .content-blog-info-container{
    width: 100% !important;
    }
    .content-blog-img{
        align-self: center;
        img{
            width: 150px !important;
            height: 150px !important;
        }}
}