.create-blog-container{
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
}
.content-blog {
    img{
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 100%;
    }
    .content-info {
        display: flex;
        justify-content: start;
        align-items: center;
        cursor: pointer;
        height: 35px;
        font-size: .8rem;
        padding: 0 10px;
        border-radius: 50px;
        width: 100%;
        margin-left: 10px;
        outline: none;
        border: none;
        background-color: var(--lightgrey);
        &:hover{
            background-color: var(--lightergrey);
        }
    }
}
.text {
 
    width: 100%;
    height: auto;
    outline: none;
    border: 0;
    font-family: 'Roboto', sans-serif;;
    font-size: 16px;
  }
  
  ::placeholder {
    color: #A9A9A9;
  }
  .ck {
    border: none !important;
  }
  .ck-editor__editable_inline {
    min-height: 500px;
  }
@media screen and (max-width: 600px) {
    .create-blog-container{
        width: 95% !important;
    }
    .sidebar-container{
        display: none !important;
    }
    .ck-editor__editable_inline {
        min-height: 300px;
      }
}