.writer-container{
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 3px solid var(--lightergrey);
}

.writer-information, .writer-content{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
}
.writer-content{
    .writer-cover-profile{
        width: 100%;
        object-fit: cover;
        height: 350px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
     
    }
    .writer-profile{
        position: absolute;
        background-color: #fff;
        padding: 3px;
        left: 10px;
        bottom: -70px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        border-radius: 100%;
        cursor: pointer;
    }
}
.change-icon-container{
    position: absolute;
    z-index: 1;
    right: 15px;
    bottom: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F2F5;
    padding: 6px;
    border-radius: 100%;
    cursor: pointer;
    &:hover{
        background-color: #D8DADF;
    }
}
.edit-cover-photo-container{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: #FFFFFF;
    padding: 6px;
    border-radius: 6px;
    right: 10px;
    cursor: pointer;
    & > * {
        margin: 0 5px;
    }
    &:hover{
        background-color: #D8DADF;
    }
}
.writer-content-info{
    margin-left: 170px;
}
.writer-name{
    font-size: 1.6rem;
    font-weight: bolder;
}
.post-follower-followring-container{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.1rem;
    letter-spacing: .5px;

    & > * {
        margin: 10px;
    }
    *:first-child{
        margin-left: 0px !important;
    }
}
.writer-nav{
    width: 75%;
    display: flex;
    margin: 0 auto;
    position: relative;
    border-top: 1px solid var(--lightergrey);
    padding-top: 10px;
    & > * {
        margin: 0 10px;
        cursor: pointer;
        &:hover{
            border-bottom:3px solid var(--lighterblue);
        }
    }
    *:first-child{
        margin-left: 0px !important;
    }
    .active{
        border-bottom:3px solid var(--lighterblue);
    }
}
.profile-container-blog{
    position: relative;
    width: 180px;
}
@media screen and (max-width: 600px) {
    .writer-content{
        width: 100%;
    }
    .writer-content-info{
        margin-left: 110px;
    }
    .writer-cover-profile{
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .post-follower-followring-container{
            font-size: .8rem !important;
            & > * {
                margin: 0 5px;
            }
    }
    .writer-name{
        font-size: 1.2rem !important;
    }
}