.sidebar-link{
    margin-left: 10px;
    font-size: 1rem;
    letter-spacing: 1.7px;   
    font-weight:bolder;

    color: rgb(181, 181, 181);
}
.sidebar-link-container:hover{
 background-color: #F0F2F5;
 border-radius: 5px;
}