.chat-content-container-information{
    height: 100vh !important;
    position: relative;
    margin: 0; 
    padding: 0;
}
.chat-main-heading-container{
    width: 100%;
    padding: 6px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 7vh;
    border-bottom: 1px solid var(--lightergrey);
    .unactive{
        background-color: red;
    }
    input{
        width: 100%;
        margin-left: 10px;
        outline: none;
        border: none;
        background-color: #F0F2F5;
        padding: 8px 13px;
        border-radius: 20px;
    }
}
.messages-chats-container{
    width: 100%;
    padding: 6px;
    height: 85.8vh;
    border-bottom: 1px solid var(--lightergrey);
    overflow-y: scroll;
    position: relative;
    &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(191, 191, 191);
        border-radius: 5px;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      .message-chat-info{
        margin-left: 5px;
        position: relative;
        margin-top: 10px;
    
      }
      .message-info{
        background-color: var(--lighterblue);
        padding: 10px;
        color: #fff;
        border-radius: 4px;
      }
      .right-container{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        justify-content: flex-end;
        align-items: flex-end;
      }
      .left-container{
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      .avatar-chat-right{
        width: 35px;
        position: relative;
        .avatar-right-chat{
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .avatar-left-chat{
            position: absolute;
            top: 0;
            left: 0;
        }
      }

}
.circle-sending-indicator{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid rgb(247, 96, 96);
}
.circle-send-indicator{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color:  var(--lighterblue);
}
.date-chat-send{
    font-size: .7rem;
    color: #b6b6b7;
}

.reciever-name{
    margin-left: 5px;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
}
.circle-chat{
    width: 13px;
    height: 13px;
    border-radius: 100%;
    margin-left: 5px;
}
.emoji-chat-container{
    position: relative;
    .picker-container{
        position: absolute;
        bottom: 40px;
        left: 0;
    }

}
.close-hide-chat{
    display: none;
}
.btn-send-message{
    outline: none;
    border: none;
    background-color: #fff;
}
.photo-upload-container{
    position: absolute;
    bottom: 7vh;
    width: 100%;
    left: 0;
    height: 130px;
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    & > * {
      margin: 0 2px;
    }
    &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(191, 191, 191);
        border-radius: 5px;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
}
.photo-container-uploads{
  position: relative;
  width: 100px;
  height: 110px;
  img{
    width: 100px;
    height: 110px;
   
  }
  .close-uploadImg-con{
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
@media screen and (max-width: 600px) {
    .close-hide-chat{
        display: block;
    }
}