@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Poppins', sans-serif;

}
:root{
  --lighterblue: #306BEC;
  --lightgrey: #F0F2F5;
  --lightergrey: #e5e5e5;
  --text-grey: #838392;
  
}
#root{
  width: 100% !important;
}
.pointer{
  cursor:pointer !important;
}
.table-title{
  font-size: 1.5rem;
  font-weight: 900;
}

.bg-blue-50{
  background-color: rgb(147, 212, 247);
}
.cursor-not-allowed{
  cursor: not-allowed;
}
.bg-gray-50{
  background-color: rgb(199, 199, 199);
}
.rounded{
  border-radius: 8px;
}
.user-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-container img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.user-container h1 {
  width: 100%;
  margin-top: 5px;
  font-size: 1.4rem;
  padding-left: 1rem;
  font-weight: 600;
  color: rgb(121, 121, 121);
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem !important;
}