.admin-body-container{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    display: flex;
}
.content-provider{
    height: 88vh;
    overflow-y: scroll;
}
.sidebar-container{
    width: 280px;
    min-height: 100vh;
    background-color: #ffffff;
}
.navbar-admin-container{
    background-color: #ffffff;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    height: 6vh;
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}
.footer-container{
    height: 6vh; 
}
.sidebar-title{
    font-weight: 900;
    font-size: 1.9rem;
    color: var(--lighterblue);
    letter-spacing: 1px;
}
