.admin-body-container{
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    display: flex;
}
.content-provider{
    height: 87vh;
  
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 7px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(191, 191, 191);
        border-radius: 5px;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
}
.sidebar-container{
    width: 280px;
    min-height: 100vh;
    background-color: #ffffff;
}
.navbar-admin-container{
    background-color: #ffffff;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    height: 50px;
    position:sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}
.footer-container{
    height: 6vh;
    border-top: 1px solid var(--lightergrey);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-title{
    font-weight: 900;
    font-size: 1.9rem;
    color: var(--lighterblue);
    letter-spacing: 1px;
}
