.admin-body-container{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
.sidebar-container{
    width: 280px;
    min-height: 100vh;
    background-color: #ffffff;
}
.navbar-admin-container{
    background-color: #ffffff;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    height: 50px;
  
}
.sidebar-title{
    font-weight: 900;
    font-size: 1.9rem;
    color: var(--lighterblue);
    letter-spacing: 1px;
}
